USE [vnfkdwfv_absdsad]
GO
/****** Object:  User [ddaa1]    Script Date: 11/29/2023 5:41:19 PM ******/
CREATE USER [ddaa1] FOR LOGIN [ddaa1] WITH DEFAULT_SCHEMA=[ddaa1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ddaa1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ddaa1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ddaa1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ddaa1]
GO
/****** Object:  Schema [ddaa1]    Script Date: 11/29/2023 5:41:19 PM ******/
CREATE SCHEMA [ddaa1]
GO
/****** Object:  Schema [pubd_db_final]    Script Date: 11/29/2023 5:41:19 PM ******/
CREATE SCHEMA [pubd_db_final]
GO
/****** Object:  Table [dbo].[BillOrders]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillOrders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](500) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[PaymentType] [int] NULL,
	[PaymentStatus] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[Status] [int] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BillOrders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[UserId] [int] NULL,
	[CreateDate] [smalldatetime] NULL,
	[Comment1] [nvarchar](1000) NULL,
	[ParentID] [int] NULL,
	[Status] [int] NULL,
	[Image] [nvarchar](500) NULL,
	[Type] [int] NULL,
	[TopicID] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtendsBooking]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtendsBooking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Details] [ntext] NULL,
	[RoomId] [int] NULL,
	[Type] [int] NULL,
	[Status] [int] NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [smalldatetime] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_ExtendsBooking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Type] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
	[Tableid] [int] NULL,
	[Parentid] [int] NOT NULL,
	[Orders] [int] NOT NULL,
	[Position] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GuestTotal] [int] NOT NULL,
	[Code] [nvarchar](500) NULL,
	[Name] [nvarchar](500) NULL,
	[Gioitinh] [nvarchar](500) NULL,
	[Quoctich] [nvarchar](500) NULL,
	[Mess] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[DeliveryPaymentMethod] [nvarchar](500) NULL,
	[StatusPayment] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[NameRoom] [nvarchar](500) NULL,
	[ServiceId] [nvarchar](500) NULL,
	[MenuId] [nvarchar](500) NULL,
	[DepartureDate] [datetime] NULL,
	[Scope] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordersdetail]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordersdetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [int] NOT NULL,
	[TicketId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ordersdetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Topid] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[Slug] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Img] [nvarchar](500) NULL,
	[Type] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[AccessName] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[GropID] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[PlaceDetail] [nvarchar](500) NULL,
	[RoomType] [nvarchar](500) NULL,
	[Img] [nvarchar](500) NULL,
	[DepartureAddress] [nvarchar](500) NULL,
	[FullAddress] [nvarchar](500) NULL,
	[DepartureDate] [datetime] NOT NULL,
	[GuestTotal] [int] NULL,
	[Price] [float] NOT NULL,
	[PriceSale] [float] NOT NULL,
	[Promote] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsBooking] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Slug] [nvarchar](500) NULL,
	[Parentid] [int] NOT NULL,
	[Orders] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/29/2023 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](600) NULL,
	[Username] [varchar](50) NULL,
	[Password] [nvarchar](500) NULL,
	[Email] [nvarchar](600) NULL,
	[Gender] [nvarchar](600) NULL,
	[Address] [nvarchar](600) NULL,
	[Phone] [nvarchar](600) NULL,
	[Img] [nvarchar](600) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[OTP] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.user] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillOrders] ON 

INSERT [dbo].[BillOrders] ([ID], [OrderCode], [Total], [CreateDate], [PaymentType], [PaymentStatus], [Name], [Status], [UserId]) VALUES (4, N'DH173724', CAST(10500000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T17:37:24.143' AS DateTime), 3, 2, N'Hóa đơn cho hợp đồng DH173724', 1, 3)
SET IDENTITY_INSERT [dbo].[BillOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([ID], [UserName], [UserId], [CreateDate], [Comment1], [ParentID], [Status], [Image], [Type], [TopicID]) VALUES (1, N'khachhang1', 3, CAST(N'2023-10-10T00:00:00' AS SmallDateTime), N'Cần có những bài viết như thế này.', 0, 1, N'https://www.translitescaffolding.com/wp-content/uploads/2013/06/user-avatar.png', 1, 1)
INSERT [dbo].[Comment] ([ID], [UserName], [UserId], [CreateDate], [Comment1], [ParentID], [Status], [Image], [Type], [TopicID]) VALUES (2, N'khachhang1', 3, CAST(N'2023-10-10T00:00:00' AS SmallDateTime), N'Rất thực tế', 0, 1, N'https://www.translitescaffolding.com/wp-content/uploads/2013/06/user-avatar.png', 1, 1)
INSERT [dbo].[Comment] ([ID], [UserName], [UserId], [CreateDate], [Comment1], [ParentID], [Status], [Image], [Type], [TopicID]) VALUES (5, N'khachhang1', 3, CAST(N'2023-07-27T17:04:00' AS SmallDateTime), N'aaaaaaaaaaaaaaaaaaa', 0, 1, N'https://www.translitescaffolding.com/wp-content/uploads/2013/06/user-avatar.png', 1, 1)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtendsBooking] ON 

INSERT [dbo].[ExtendsBooking] ([ID], [Name], [Details], [RoomId], [Type], [Status], [CreateBy], [CreateDate], [Price]) VALUES (3, N'THỰC ĐƠN 2:   3.143.000 VNĐ', N'1. Khai Vị 3 Món :
– Gỏi Củ Hủ Dừa Tôm Thịt
– Chả Giò Hải Sản
– Mực Sữa Chiên Nước Mắm
2. Cá  Phile Sốt Cam Úc
3. Sườn Nấu Pate Pháp – Bánh Mì
4. Lẩu Gà Tiềm Ớt Hiểm – Mì Sợi
5. Trái Cây Thơm, Dưa Hấu
', 1, 1, 1, 1, CAST(N'2023-09-21T23:11:00' AS SmallDateTime), 3143000)
INSERT [dbo].[ExtendsBooking] ([ID], [Name], [Details], [RoomId], [Type], [Status], [CreateBy], [CreateDate], [Price]) VALUES (5, N'Dịch vụ đi kèm trọn gói', N'<p>1. Thợ chụp ảnh</p><p>2. Phục vụ châm nước liên tục</p><p>3. nước ngọt bia không giới hạng</p>', 1, 2, 1, 1, CAST(N'2023-09-21T23:10:00' AS SmallDateTime), 3500000)
SET IDENTITY_INSERT [dbo].[ExtendsBooking] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [Tableid], [Parentid], [Orders], [Position], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (1, N'Trang Chủ', N'menu', N'', 2, 0, 1, N'mainmenu', CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, CAST(N'2019-12-05T13:03:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [Tableid], [Parentid], [Orders], [Position], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (4, N'Top 25 địa điểm tổ chức sự kiện tại TPHCM', N'menu', N'tin-tuc/top-25-dia-diem-to-chuc-su-kien-tai-tphcm', 2, 0, 2, N'mainmenu', CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [Tableid], [Parentid], [Orders], [Position], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (5, N'Liên Hệ', N'menu', N'lien-he', 2, 0, 3, N'mainmenu', CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, CAST(N'2020-05-06T23:02:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [GuestTotal], [Code], [Name], [Gioitinh], [Quoctich], [Mess], [Phone], [Email], [DeliveryPaymentMethod], [StatusPayment], [Total], [CreateDate], [Status], [UserId], [RoomId], [NameRoom], [ServiceId], [MenuId], [DepartureDate], [Scope]) VALUES (6, 0, N'DH173724', N'Nguyen van a', N'female', N'VN', NULL, N'0377377794', N'vanhungdev@gmail.com', N'Thanh toán chuyển khoản', 3, 10500000, CAST(N'2023-11-29T17:37:24.160' AS DateTime), 2, 3, 1, N'Trung tâm hội nghị Capellapark View', N'5', N'1', CAST(N'2023-11-30T00:00:00.000' AS DateTime), N'Sáng (7:00 đến 12:00)')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordersdetail] ON 

INSERT [dbo].[Ordersdetail] ([ID], [Orderid], [TicketId]) VALUES (61, 6, 1)
SET IDENTITY_INSERT [dbo].[Ordersdetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
